{% extends 'base.html' %}
{% load static %}
<!-- Section table -->
{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">vipnet_name</th>
        <th scope="col">address</th>
        <th scope="col">pc_name</th>
        <th scope="col">inventory_number</th>
        <th scope="col">division</th>
        <th scope="col">created</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr>
{#        <th scope="row">1</th>#}
        <td>{{ item.vipnet_name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.pc_name }}</td>
        <td>{{ item.inventory_number }}</td>
        <td>{{ item.division }}</td>
        <td>{{ item.is_active }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}